/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, powderblue, grey);
    text-align: center;
    color: white;
}

/* Container */
.container {
    width: 80%;
    max-width: 600px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Button Styles */
button, .next-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 1.5rem;
    color: white;
    background: #ff6f61;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}

button:hover, .next-btn:hover {
    background: #ff3b2f;
}

/* Image Gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.gallery img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}
